<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Knit Witts Global</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <div id="promo-bar">
            Promo Bar
        </div>
        <div class="header">
            <div id="account-nav">
                <span>
                    <a href="" id="login">Login</a>
                    <strong>|</strong>
                    <a href="" id="account">Account</a>
                </span>
            </div>
            <h2>Knit Witts Global</h2>
            <a href="/about/">About Us</a>
        </div>        
    </div>
</body>
</html>